<!DOCTYPE html>
<html lang="sk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Stefan Korecko" />
  <link rel="stylesheet"
        href="/css/gamestudio.css"
        media="screen" />
</head>
<body>


<header th:replace="fragments/fragments :: header"/>

<main layout:fragment="content"/>

<footer th:replace="fragments/fragments :: footer"/>


</body>
</html>